/*__________База__________*/
html {
  height: 100%;
  width: 100%;
}
body {
  background-repeat: repeat;
  background-image: url("image/kir_wp.jpg");
}
footer {
  background-color: rgb(255 255 255 / .35 );
  border-top: solid rgb(100 100 100) 2px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 30px;
}
/*__________Шапка_сайта__________*/
.nav-menu {
  display: flex;
  justify-content: right;
}
.nav-li {
  margin: auto 0;
}
.nav-element1 {
  margin-right: 25px;
  list-style: none;
  height: 40px; 
}
header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.aboba {
  font-size: 1.4vw;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  background-size: 250px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text; 
  color: black;
  background-color: rgb(255 255 255 / .2 );
  box-shadow: inset 0px 2px #000000, 0px 0px 10px #000000;
  border-radius: 10px;
  padding: 7px;
}
.aboba {
  font-size: 1.4vw;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  background-size: 250px;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text; 
  color: black;
  background-color: rgb(255 255 255 / .2 );
  box-shadow: inset 0px 1px #000000, 0px 0px 2px #000000;
  border-radius: 10px;
  padding: 7px;
}
.sas_a{
  text-decoration: none;
}
/*__________Основа__________*/
.h_care {
  font-size: 3.2vw;
  font-weight: 700;
  font-family: 'Shadows Into Light', cursive;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
.care_img_cat {
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 12px #000000, 0px 0px 25px #000000;
  overflow: hidden;
  height: 15vw;
  transition-duration: 1s; 
}
.care_img_cat:hover {
  max-width: 90%;
  border-radius: 20px;
  box-shadow: 0px 0px 12px #000000;
  overflow: hidden;
  height: 15vw;
}
.footer_c {
  font-size: 1vw;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
}
.a_col {
  text-align: center;
  height: 80%;
}
.a_col_t {
  display: block;
  font-size: 1.5vw;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  text-decoration: none;
  text-align: center;
  color: #1E90FF;
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
/*__________Сетка__________*/
.care_cols {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
.care_cols_item {
  display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 30%;
}
/*__________Кот_снизу__________*/
.cat_r {
  max-width: 30vw;
  position:absolute;
}
.fraza {
  font-family: 'Shadows Into Light', cursive;
  font-size: 2vw;
  text-align: center;
}
.author {
  font-family: 'Shadows Into Light', cursive;
  text-align: right;
  font-size: 1vw;
}
.otec {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.sin {
  flex-basis: auto;
  align-items: center;
  width: 50%;
  margin-left: 10%;
}
.sin2 {
  flex-basis: auto;
  align-items: center;
  margin-top: 8%;
  width: 50%;
}
.down {
  margin-top: 3%;
  margin-right: 3%;
}